
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

<body>
<div>
 	<h1>シンフォニー</h1>
</div>


<a href="{{path("app_eventdetail_gotoeventdetail")}}">松本イベント詳細</a><br>
<a href="{{path("app_eventanswer_gotoanswerevent")}}">宮里イベント回答</a><br>
<a href="{{path("app_createevent_gotocreateevent")}}">福谷イベント作成</a><br>
<a href="{{path("app_eventlist_gotoeventlist")}}">林イベント一覧</a><br>
</body>
</html>
