{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EventList{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/common.css") }}" />
            <link rel="stylesheet" href="{{ asset("css/common-event-list.css") }}" />
        {% endblock %}
    </head>

<body>
<div>   
        {#イベント一覧全て#}
        <div class="main">
            
            {#イベント一覧上部分#}
            <div class="event_header">
                <h1>イベント一覧</h1>
            </div>
            
            {#イベント一覧コンテンツ#}
            <div class="event_list">
                
                <table id="table_list">
                    <thead>
                        <tr>
                            <th>イベント名</th>
                            <th>○</th>
                            <th>△</th>
                            <th>×</th>
                            <th>未</th>
                            <th>作成日</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in eventList %}
                        <tr>
                            <td>{{event.name}}</td>
                            <td>{{event.circle}}</td>
                            <td>{{event.triangle}}</td>
                            <td>{{event.cross}}</td>
                            <td>{{event.un}}</td>
                            <td>{{event.createDate}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    
                    <div class="link">
                        <a href="{{path("app_default_index")}}">戻る</a><br>
                    </div>
                
            </div>
        </div>
</div>
</body>
        {% block javascript %}
            <script type="text/javascript">
                var unVal = event.un;
            </script>
        {% endblock %}
</html>